@import "tailwindcss";

@theme {
  --color-f1-red: #e10600;
  --color-neon-blue: #00d2ff;
  --color-neon-green: #39ff14;
  --color-dark-bg: #0f172a;
  --color-dark-card: #1e293b;
  --color-dark-border: #334155;
}

@custom-variant dark (&:is(.dark *));

@layer base {
  :root {
    --background: #0f172a;
    --foreground: #f8fafc;
  }
  
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
  }
}
